<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<body>

<!-- Navigation -->
<nav class="w3-bar w3-black">
    <a href="home" class="w3-button w3-bar-item">Home</a>
    <a href="calculatoare" class="w3-button w3-bar-item">Magazin</a>
    <a href="ghiduri" class="w3-button w3-bar-item">Ghiduri</a>
    <!--    <a href="wishlist" class="w3-button w3-bar-item">Wishlist</a>-->
    <a href="contact" class="w3-button w3-bar-item">Contact</a>
</nav>

<section class="w3-row-padding w3-center w3-light-grey">
    <h2 class="w3-wide">Membrii echipei</h2>
    <article class="w3-third">
        <p>Andrei</p>
        <img src="/img/Andrei.jpg" alt="Andrei" style="width:100%;height:200px;">
        <p>email: andrei@regcomputer.com</p>
    </article>
    <article class="w3-third">
        <p>Ionica</p>
        <img src="/img/Ionica.jpg" alt="Ionica" style="width:100%;height:200px;">
        <p>email: ionica@regcomputer.com</p>
    </article>
    <article class="w3-third">
        <p>Mihai</p>
        <img src="/img/Mihai.jpg" alt="Mihai" style="width:100%;height:200px;">
        <p>email: mihai@regcomputer.com</p>
    </article>
</section>

<section class="w3-row-padding w3-center w3-light-grey" style="max-width:100%;text-align:center">
    <h2 class="w3-wide">Regeneration Computer</h2>
</section>

</body>
</html>
