<!DOCTYPE html>
<html lang="ro">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<body>

 <!-- Navigation -->
<nav class="w3-bar w3-black" style="background-color:#000000">
  <a href="home" class="w3-button w3-bar-item">Home</a>
  <a href="calculatoare" class="w3-button w3-bar-item">Magazin</a>
    <a href="ghiduri" class="w3-button w3-bar-item">Ghiduri</a>
    <!--  <a href="wishlist" class="w3-button w3-bar-item">Wishlist</a>-->
  <a href="contact" class="w3-button w3-bar-item">Contact</a>
</nav> 

 <!-- Slide Show -->
<section>
  <img class="mySlides" src="/img/bitwit.jpg" style="width:100%;height:480px;">
  <img class="mySlides" src="/img/examples.jpg" style="width:100%;height:480px;">
  <img class="mySlides" src="/img/walle.jpg" style="width:100%;height:480px;">
</section>

<script type="text/javascript">
// Imaginea se schimbă la fiecare 3 secunde
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}
  x[myIndex-1].style.display = "block";
  setTimeout(carousel, 3000);
}
</script>

 <section class="w3-row-padding w3-center w3-light-grey" style="max-width:100%;text-align:center">
  <h2 class="w3-wide">Regeneration Computer</h2>
  <p class="w3-opacity"><i>Calculatoare pentru toată lumea</i></p>
  <p class="w3-justify"><i>Bine ați venit la magazinul nostru!</i></p>
</section>

<!-- <section class="w3-row-padding w3-center w3-light-grey">-->
<!--    <h2 class="w3-wide">Membrii echipei</h2>-->
<!--  <article class="w3-third">-->
<!--    <p>Andrei</p>-->
<!--    <img src="/img/Andrei.jpg" alt="Andrei" style="width:100%">-->
<!--  </article>-->
<!--  <article class="w3-third">-->
<!--    <p>Ionica</p>-->
<!--    <img src="/img/Ionica.jpg" alt="Ionica" style="width:100%">-->
<!--  </article>-->
<!--  <article class="w3-third">-->
<!--    <p>Mihai</p>-->
<!--    <img src="/img/Mihai.jpg" alt="Mihai" style="width:100%">-->
<!--  </article>-->
<!--</section> -->

</body>
</html>
