<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Magazin</title>
</head>
<body>

<nav class="w3-bar w3-black">
    <a href="home" class="w3-button w3-bar-item">Home</a>
    <a href="calculatoare" class="w3-button w3-bar-item">Calculatoare</a>
    <a href="wishlist" class="w3-button w3-bar-item">Wishlist</a>
    <a href="contact" class="w3-button w3-bar-item">Contact</a>
</nav>

<div id="react"></div>

<script src="built/bundle.js"></script>

</body>
</html>